.Calculate_btn {
    width: 200px;
    height: 45px;
    background: #1090D8;
    border-radius: 8px;
}
.Calculate_btn_tow{
    width: 110px;
    height: 35px;
    background: #1090D8;
    border-radius: 5px;
    color: white;
}